/*GLOBAL*/
*{
    padding:0;
    margin:0;
  }
  
  body{
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  scroll-behavior: [ auto | smooth ];
  font-weight: normal;
  font-style: normal;
  font-kerning: normal;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */

  }

  :root{
    --black: #000;
    --white: #fff;
    --dark: #171717;
    --interactive: #8E8E8E;
    --basegrey: #8B8B8B;
    --lightgrey: #BFBFBF;
    --borderlight: #E9E9E9;
    --borderdark: #2B2B2B;
}
  
  /*TYPE*/
  @font-face {
    font-family: "300";
    src: url("fonts/Lausanne-300.woff2") format('woff2');
  }
  @font-face {
    font-family: "600";
    src: url("fonts/Lausanne-600.woff2") format('woff2');
  }



  body{
    font-family: "300";
    color: var(--basegrey);   
  }

  

p{
    font-size: 1.3rem;
    line-height: 1.8rem;
}
li{
    list-style: none;
    line-height: 0.6rem;
    z-index: 25;
}
a{
    line-height: 1.5rem;
    color: var(--basegrey);   
    text-decoration: none;    
}

::selection {
    background: #000;
    color: #fff;
  }
  ::-moz-selection{
    background: #000;
    color: #fff;
  }

/*STRUCTURAL*/
body{
    margin-top: 1rem;
    padding: 0 .8rem;
}
/* mobile menu */
li:first-of-type{
    margin-top: 5rem;
}
li:last-of-type{
    margin-top: 1rem;
}
nav,p{
    display: inline-block;
    vertical-align: top; /* Aligns them vertically if needed */
    margin: 0;
}
nav{  
    border-left: 1px solid var(--borderlight);
    padding-left: .6rem;
}


/* text elements */
a:first-of-type{
    display: block;
    margin-top: 2rem ;
}
.logotype{
    margin-right: .6rem;
}
.profile-blurb{
    margin-top: 6rem;
    display: none;
    z-index: 20;
}
.show-hide .profile-blurb{
    display: block;
}
.copy-footer,
.copy-footer-mobile{
    position: absolute;
    bottom: .4rem;
}
.copy-footer{
    display: none;
}

/* image */
.image-holder{
    display: flex;    /* Enable Flexbox */
    justify-content: center;    /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 100%;    /* Ensure the parent div has a height to allow vertical centering */
    height: 80vh; 
    /* pointer-events: none; */
  

}
.show-hide .image-holder{
    display: none;
}
.image-frame{
    width: 70%;
    aspect-ratio: 1 / 1;
    margin:auto;
   }
   .image-frame:hover{
    cursor:pointer;
   }


/* interactive */

body,
.border-item{
    transition: background-color 0.3s, color 0.3s;
}
.border-item{
    transition: border-color 0.3s;
}

.cls-1{
    transition: fill 0.3s;

}
#show-hide{
    display: none;
}
#light-dark-mode{
    display: none;
    
}
label[for="light-dark-mode"]{
    position: absolute;
    right:.8rem;
    top:1rem;
    z-index: 100;
}

.dark-mode {
    background-color: var(--dark);
  }

  .dark-mode .border-item {
    border-color: var(--borderdark); /* Changed border color in dark mode */
  }
  
  li,
  a,
  label[for="selected-work"],
  label[for="profile"]{
    transition: color 0.3s;
  }
  li:hover,
  a:hover,
  label[for="selected-work"]:hover,
  label[for="profile"]:hover,
  label[for="light-dark-mode"]  {
    color: var(--lightgrey);
    cursor: pointer;
  }
  .logotype:hover{
    cursor: pointer;
  }

.cls-1.dark-mode{
    fill: var(--white);
}

label[for="light-dark-mode"]{
    width: 1.3rem;
    height: 1.3rem;
    padding-top: 0.1rem;
  

}




input[type="radio"] {
    display: none;  /* Hide the actual radio button */
  }
  
  
  input[type="radio"]:checked + label {
    color: var(--black)
   
  }

  body.dark-mode input[type="radio"]:checked + label {
    color: var(--white)

  }




/* media queries */


@media screen and (max-width: 767px)  {

body{
    height: 100vh; 
}    
.image-holder{
    display: flex;    /* Enable Flexbox */
    justify-content: center;    /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 50svh; 
    width: 100vw;
    position: absolute;
    top:30svh;
    left:0;
}
}

/* portrait lock test */
@media screen and (max-width: 767px) and (orientation: landscape) {
    html {
      /* Rotate the content container */
      transform: rotate(-90deg);
      transform-origin: left top;
      /* Set content width to viewport height */
      width: 100vh;
      /* Set content height to viewport width */
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
    .image-holder{
        top:30svw;
        height: 50svw; 
        width: 100svh;
    }
    .profile-blurb{
        height: 100svh;
        width: 100svw;
        background: green;
    }
  }

  @media screen and (min-width: 767px)  {
    body{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-top: 2rem;
        padding: 0 1.2rem;
   

    }

    nav{
        display: none;
    }



    .profile-blurb{
        grid-column: 5 / 8;
        margin-top: 0;
        border-left: 1px solid var(--borderlight);
        height: calc(100vh - 3.6rem);
        padding-left: .6rem;
        padding-right: 2rem;
        display: block;
    }
    .image-holder{
        grid-row: 1;
        grid-column: 2 / 5;
        border-left: 1px solid var(--borderlight);
        height: calc(100vh - 3.6rem);
        visibility: visible;
    }
  
label[for="light-dark-mode"]{
       right: 86vw;
       top:2.2rem;
    
    }
    /* ensure everything is visible non mobile */
    .image-holder{
    display: flex !important;
}

.profile-blurb{
    display: block !important; /* Ensures visibility on larger screens */

  }
  .copy-footer{
    display: block;
    bottom:1.4rem;

}
.copy-footer-mobile{
    display: none; 
}

}

  @media screen and (max-width: 1230px) and (min-width: 767px) {


    .profile-blurb,
    .image-holder{
        grid-row: 1;
        grid-column: 3 / 8;
        margin-top: 0;
    }
    .profile-blurb{
        max-height: 30%;
    }
   
label[for="light-dark-mode"]{
        position: absolute;
        right: 1.2rem;
        top:2rem;
    }

    .image-holder{
        display: flex;    /* Enable Flexbox */
        justify-content: center;    /* Center horizontally */
        align-items: flex-end;    /* Center vertically */
        height: 100%;/* Ensure the parent div has a height to allow vertical centering */
    }

    .image-frame{
        width: 70%;
        aspect-ratio: 1 / 1;
        margin:0;
        z-index: 10;
       }

   


  }





  .invert-colors {
    filter: invert(100%);
}

